/* Disable right-click outlines */
a:focus, button:focus, input:focus, select:focus, textarea:focus {
    outline: none !important;
    -moz-outline: none !important;
    display: initial;
    // display: none;
}
img {
	width: 100%;
}
p {
	color: black;
	font-family: 'Gotham 4R';
	font-size: 14/$basefont-desktop + em;
	line-height: 21/$basefont-desktop + em;
	letter-spacing: 0.045em;
	padding: 0;
	margin: 0;
	padding-bottom: 2.5%;
	// &.jenson-mobile {
		// font-size: 12/$basefont-desktop + em;
		// line-height: 19/$basefont-desktop + em;
	// }
	@include minimum-width(mobile) {
		padding-bottom: 9%;
	}
}
a, a:focus, a:visited {
	color: black;
	text-decoration: none;
	font-size: 1em;
	&.jenson-cta {
		font-family: 'Gotham 7R';
		font-size: 14/$basefont-desktop + em;
		line-height: 21/$basefont-desktop + em;
		letter-spacing: 0.045em;
		@include minimum-width(mobile) {
			font-size: 28/$basefont-mobile + em;
		}
	}
}
i.caret {
    border-top: .33333333333333em solid transparent;
    border-bottom: .33333333333333em solid transparent;
    border-left: .33333333333333em solid;
    display: inline-block;
    margin-left: .33333333333333em;
}
h3 {
	font-family: DinDot,Helvetica,sans-serif;
    letter-spacing: 0.15em;
}
.jenson-mobile {
	display: none;
	@include minimum-width(mobile) {
		display: block;
	}
}
.jenson-desktop {
	display: block;
	@include minimum-width(mobile) {
		display: none;
	}
}

.section-a {
	padding-bottom: 120/11.70 + %;
	.jenson-desktop {
		.j-a-bg {
			width: 100%;
			background-color: #aaa;
			padding-bottom: 758/11.70 + %;
			background: url('../img/DESKTOP/Jenson_HO16_d01.jpg') no-repeat;
			background-size: cover;
		}
		.j-a-txt {
			position: absolute;
		    padding-top: 256/11.70 + %;
		    padding-left: 600/11.70 + %;
			h3 {
				font-size: 111/$basefont-desktop + em;
				letter-spacing: 0.1em;
				line-height: 1em;
				color: white;
				margin: 0;
			}
			p {
				color: white;
			}
		}
	}
	.jenson-mobile {
		.j-a-txt {
			text-align: center;
			h3 {
				font-size: 7.2em;
				letter-spacing: 0.1em;
				line-height: 1em;
				color: black;
				text-align: center;
				margin: 0;
				padding-top: 4%;
				padding-bottom: 4%;
			}
			p {
				color: black;
				margin-top: -2%;
			}
		}
		.section-a-bg {
			width: 100%;
			background: url('../img/MOBILE/Jenson_HO16_m01x2.jpg') no-repeat;
			background-size: cover;
			padding-bottom: 242/3.20 + %;
		}
	}	
}
.section-b {
	margin-top: 390/11.70 + %;
	padding-bottom: 120/11.70 + %;
	width: 300/11.70 + %;
	float: left;
	@include minimum-width(mobile) {
		width: 100%;
		margin-top: 0;
		padding-bottom: 90/11.70 + %;
		img {
			width: 262/3.20 + %;
			margin: 0 auto;
		}
	}
}
.section-c {
	width: (800)/11.70 + %;
	float: right;
	@include minimum-width(mobile) {
		width: 100%;
		img {
			width: 262/3.20 + %;
			margin: 0 auto;
			padding-bottom: 9%;
		}
	}
	.j-d-txt {
		padding-top: 72/8.00 + %;
		@include minimum-width(mobile) {
			padding-top: 0;
			width: 100%;
			text-align: center;
			padding-bottom: 90/11.70 + %;
			p {
				padding-bottom: 5%;
			}
		}
	}
}
.section-d {
	padding-bottom: 120/11.70 + %;
	width: 1030/11.70 + %;
	margin: 0 auto;
	@include minimum-width(mobile) {
		width: 100%;
		padding-bottom: 9%;
	}
}
.section-e {
	width: (530-70)/11.70 + %;
	// padding-left: 54/11.70 + %;
	padding-left: 5.615%;
	float: left;
	.j-e-txt {
		padding-top: 224/4.60 + %;
	}
	@include minimum-width(mobile) {
		width: 100%;
		float: right;
		.j-e-txt {
			padding-top: 0;
			text-align: center;
			padding-bottom: 8%;
			p {
				padding-bottom: 6%;
			}
		}
	}
}
.section-f {
	width: (600-70)/11.70 + %;
	padding-bottom: 120/11.70 + %;
	// padding-right: 54/11.70 + %;
	padding-right: 6.115%;
	float: right;
	@include minimum-width(mobile) {
		width: 100%;
		float: none;
		text-align: center;
		padding-bottom: 9%;
		padding-right: 0;
		img {
			width: 262/3.20 + %;
			margin: 0 auto;
		}
	}
}
.section-g {
	.jenson-video {
		position: relative;
		width: 830/11.70 + %;
		background-color: white;
		margin: 0 auto;
		@include minimum-width(mobile) {
			width: 300/3.20 + %;
			padding-bottom: 6%;
			height: auto;
		}
		.video-poster,
		.video-poster-mobile {
			width: 100%;
	        position: relative;
	        background: url('../img/DESKTOP/Jenson_HO16_d06.jpg') no-repeat;
	        background-size: contain;
	        background-position: top;
	        padding-bottom: 471/8.30 + %;
	        top: 0;
	        left: 0;
	        right: 0;
	        bottom: 0;
	        z-index: 20;
	        @include minimum-width(mobile) {
	        	background: url('../img/MOBILE/Jenson_HO16_m06x2.jpg') no-repeat;
		        background-size: contain;
		        padding-bottom: 170/3 + %;
	        }
	        &.invisible {
	        	background: none;
	        }
		}
		.video-iframe-bg {
		    width: 100%;
		    min-width: 560px;
		    position: absolute;
		    top: 0;
		    padding-bottom: 56.296296296296%;
		    @include minimum-width(mobile) {
		    	display: none;
		    }
		}
		.video-mobile-block {
			// width: 100%;
			// position: absolute;
			// padding-bottom: 56.296296296296%;
		}
		.video-title,
		.video-title-mobile {
		    position: absolute;
		    top: (467-75)/2/4.67 + %;
		    left: (830-75)/2/8.30 + %;
		    width: 75/8.30 + %;
		    text-align: center;
		    z-index: 20;
		    img {
		    	position: relative;
		    }
		    @include minimum-width(mobile) {
		    	top: 26%;
		    	left: 38%;
		    	width: 150/6.40 + %;
		    }
		}
		img, video {
			width: 100%;
		}
		video {
			&.active {
				position: absolute;
			    top: 0;
			    z-index: 99;	
			}
		}
		iframe,
		object,
		embed {
			position:absolute;
			top:0;
			left:0;
		}
		iframe {
			display: none;
			width: 100%;
			height: 100%;
		}
	}
	.j-g-txt {
		padding-top: 2%;
		text-align: center;
		p {
			padding-bottom: 0;
		}
	}
	padding-bottom: 120/11.70 + %;
	@include minimum-width(mobile) {
		padding-bottom: 8%;
	}
}
.section-h {
	padding-bottom: 120/11.70 + %;	
	@include minimum-width(mobile) {
		padding-bottom: 15%;
	}
}