/************************/
/* Mixin                */
/************************/

@mixin transform($x, $y, $z) {
    -webkit-transform: translate3d($x, $y, $z);
    -ms-transform: translate3d($x, $y, $z);
    -o-transform: translate3d($x, $y, $z);
    transform: translate3d($x, $y, $z);
}
@mixin transition($duration, $type, $easing) {
    -webkit-transition: $duration $type $easing;
    -moz-transition: $duration $type $easing;
    -o-transition: $duration $type $easing;
    transition: $duration $type $easing;
}
@mixin transformRotateY($rotate, $scaleY) {
    -webkit-transform: rotate($rotate) scaleY($scaleY);
    -moz-transform: rotate($rotate) scaleY($scaleY);
    -o-transform: rotate($rotate) scaleY($scaleY);
    transform: rotate($rotate) scaleY($scaleY);
}

//Media Queries
@mixin minimum-width($breakpoint) {

  // If the key exists in the map
  @if (map-has-key($breakpoints, $breakpoint)) {
    @media (max-width: (map-get($breakpoints, $breakpoint))) {
      @content;
    }
  }

  @else {
    @warn "Could not found '#{$breakpoint}";
  }
}
