@font-face {
    font-family: "DinDot";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/EngschriftDINDOT.otf"),
		 url("fonts/EngschriftDINDOT.woff"); /* Modern Browsers */
}
main.mk-promo {
	div {
		 -webkit-transition: all 0.5s;
	    transition: all 0.5s;
	}
	.mk-background {
		background: url('../img/DESKTOP/Jenson_HO16_d01.jpg') no-repeat;
		background-size: cover;
		text-align: center;
		color: white;
		font-family: 'Gotham 7R';
		line-height: 1em;
		width: 100%;
	    // height: 600px;
	    padding-bottom: 600/14.40 + %;
	    position: relative;
		div.v-center {
			position: absolute;
		    width: 100%;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
		    width: 33%;
		    p {
		    	text-align: left;
		    }
		}
		h2 {
			font-family: 'Gotham 7R';
			color: white;
			font-size: 1.5em;
		}
	}
	max-width: 1440px;
	margin: 0 auto;
	font-family: 'Gotham 3R';
	img {
		width: 100%;
	}
	.columns {
		padding-left: 15/14.40 + %;
		padding-right: 15/14.40 + %;
	}
	.mk-title {
		text-align: center;
		h1 {
			font-family: 'Gotham 7R';
			font-size: 2em;	
		}
		padding-top: 5%;
		padding-bottom: 5%;
	}
	.mk-copy {
		padding-top: 30px;
		
		h3 {
			font-family: 'Gotham 4R';
			padding-bottom: 2%;
			font-size: 2em;
		}
		&.right {
			text-align: right;
		}
		.mk-cta {
			padding-top: 2%;
			padding-bottom: 2%;
			font-family: 'Gotham 7R';
		}
	}
	.mk-cta-wrapper {
		.mk-cta-left {
			float: left;
			padding-right: 20%;
		}
		.mk-cta-right {
			float: left;
		}
	}
	.mk-second {
		padding-top: 10%;
	}
	.row-padding {
		padding-top: 10%;
	}
}