@import "jenson.fonts";

@import "jenson.mixin";
@import "jenson.breakpoints";
@import "jenson.variables";

/* EU Popup Bug */
.ui-dialog .ui-dialog-content {
	display: block!important;
}
/* Desktop & Mobile Common */
.clear {
	clear: both;
}
@font-face {
    font-family: "DinDot";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/EngschriftDINDOT.otf"),
		 url("fonts/EngschriftDINDOT.woff"); /* Modern Browsers */
}
/* Desktop Common */
main.jenson-main {
	width: 100%;
	max-width: 1200px;
	min-width: 1024px;
	position: relative;
	margin: 0 auto;
	font-size: $basefont-desktop + px;
	
	.jenson-container {
		padding-left: 15/12.00 + %;
		padding-right: 15/12.00 + %;
	}

	@import "jenson.general";

	@media only screen and (min-width: 1025px) and (max-width: 1200px) {
		font-size: $basefont-desktop/12.00 + vw;
	}

	@media only screen and (max-width: 1024px) {
		font-size: $minfont-desktop + px;
	}
	
	/* Mobile Responsive */
	@media only screen and (max-width: 767px) {
		width: 100%;
		max-width: 640px;
		min-width: 320px;
		position: relative;
		margin: 0 auto;
		padding: 0;
		font-size: $basefont-mobile + px;
		font-weight: normal;

		.jenson-container {
			padding-left: 0;
			padding-right: 0;
		}
	}
	@media only screen and (max-width: 640px) {
		font-size: $basefont-mobile/6.40 + vw;
	}

	background: white;
}


/* Test */
body {
	// background: #ddd;
}

@import "promo";
