<% <!-- Section A --> %>
<section class="section-a">
	<div class="jenson-desktop">
		<a href="<%-data.linking_d.image1%>">
			<div class="j-a-bg">
				<div class="j-a-txt">
					<h3><%-data.section_a.header%></h3>
					<p>
						<%-data.section_a.text%>
					</p>
				</div>
			</div>
		</a>
	</div>
	<div class="jenson-mobile">
		<div class="j-a-txt">
			<a href="<%-data.linking_m.Header%>">
				<h3><%-data.section_a.header_m%></h3>
			</a>
			<a href="<%-data.linking_m.quote1%>">
				<p>
					<%-data.section_a.text_m%>
				</p>
			</a>
		</div>
		<a href="<%-data.linking_m.image1%>">
			<div class="section-a-bg"></div>
		</a>
	</div>
	<div class="clear"></div>
</section>

<% <!-- Section B --> %>
<section class="section-b">
	<a href="<%-data.linking_d.image2%>">
		<img src="<%=baseUrl%>/img/DESKTOP/Jenson_HO16_d03.jpg" class="jenson-desktop">
	</a>
	<a href="<%-data.linking_m.image2%>">
		<img src="<%=baseUrl%>/img/MOBILE/Jenson_HO16_m02x2.jpg" class="jenson-mobile">
	</a>
</section>

<% <!-- Section C --> %>
<section class="section-c">
	<!-- <div class="j-c-bg"></div> -->
	<div class="j-d-txt jenson-mobile">
		<a href="<%-data.linking_m.quote2%>">
			<p><%-data.section_d.text_m%></p>
		</a>
		<a href="<%-data.linking_m.CTA1%>" class="jenson-cta"><%-data.section_d.cta%><i class="caret"></i></a>
	</div>
	<a href="<%-data.linking_d.image3%>">
		<img src="<%=baseUrl%>/img/DESKTOP/Jenson_HO16_d02.jpg" class="jenson-desktop">
	</a>
	<a href="<%-data.linking_m.image3%>">
		<img src="<%=baseUrl%>/img/MOBILE/Jenson_HO16_m03x2.jpg" class="jenson-mobile">
	</a>
	<div class="j-d-txt jenson-desktop">
		<a href="<%-data.linking_d.quote1%>">
			<p><%-data.section_d.text%></p>
		</a>
		<a href="<%-data.linking_d.CTA1%>" class="jenson-cta"><%-data.section_d.cta%><i class="caret"></i></a>
	</div>
	<div class="clear"></div>	
</section>

<div class="clear"></div>
<% <!-- Section D --> %>
<section class="section-d">
	<a href="<%-data.linking_d.image4%>">
		<img src="<%=baseUrl%>/img/DESKTOP/Jenson_HO16_d04.jpg" class="jenson-desktop">
	</a>
	<a href="<%-data.linking_m.image4%>">
		<img src="<%=baseUrl%>/img/MOBILE/Jenson_HO16_m04x2.jpg" class="jenson-mobile">
	</a>
	<div class="clear"></div>
</section>

<% <!-- Section F --> %>
<section class="section-f jenson-mobile">
	<a href="<%-data.linking_m.image5%>">
		<img src="<%=baseUrl%>/img/MOBILE/Jenson_HO16_m05x2.jpg" class="">
	</a>
</section>

<% <!-- Section E --> %>
<section class="section-e">
	<div class="j-e-txt">
		<a href="<%-data.linking_d.quote2%>">
			<p class="jenson-desktop"><%-data.section_e.text%></p>
		</a>
		<a href="<%-data.linking_d.CTA2%>" class="jenson-cta jenson-desktop"><%-data.section_e.cta%><i class="caret"></i></a>
		<a href="<%-data.linking_m.quote3%>">
			<p class="jenson-mobile"><%-data.section_e.text_m%></p>
		</a>
		<a href="<%-data.linking_m.CTA2%>" class="jenson-cta jenson-mobile"><%-data.section_e.cta%><i class="caret"></i></a>
	</div>
</section>
<% <!-- Section F --> %>
<section class="section-f jenson-desktop">
	<a href="<%-data.linking_d.image5%>">
		<img src="<%=baseUrl%>/img/DESKTOP/Jenson_HO16_d05.jpg" class="">
	</a>
</section>

<div class="clear"></div>

<% <!-- Section G --> %>
<section class="section-g">
	<div class="jenson-video" id="jenson-video-wrapper">
		<div class="video-poster jenson-desktop"></div>
		<div class="video-poster-mobile jenson-mobile"></div>
		<div class="video-mobile-block"></div>
		<div class="video-iframe-bg">
			<!-- <iframe width="830" height="471" id="video-ytube" data-video-type="youtube" src="https://www.youtube.com/embed/CntNkR-NqEQ?enablejsapi=1&amp;html5=1&amp;rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" data-player-status="resume"></iframe> -->
			<video data-video-type="html5video-ctp" width="830" height="471" id="jenson-video-elm" poster="<%=baseUrl%>/img/DESKTOP/Jenson_HO16_d06.jpg" controls>
				<source src="http://michaelkors.scene7.com/is/content/MichaelKors/JENSEN_FINAL_FINAL" type="video/mp4">
			</video>
		</div>
		<div class="video-title jenson-desktop" data-video-assets>
			<a href="#" class="playButton">
	            <img src="<%=baseUrl%>/img/DESKTOP/Jenson_HO16_dPlayIcon.png" alt="Video Play">
			</a>
        </div>
        <div class="video-title-mobile jenson-mobile" data-video-url="http://michaelkors.scene7.com/is/content/MichaelKors/JENSEN_FINAL_FINAL">
            <img src="<%=baseUrl%>/img/MOBILE/Jenson_HO16_mPlayIcon_x2.png" alt="Video Play">
        </div>
	</div>
	<div class="j-g-txt">
		<a href="<%-data.linking_d.quote3%>">
			<p class="jenson-desktop"><%-data.section_g.text%></p>
		</a>
		<a href="<%-data.linking_m.quote4%>">
			<p class="jenson-mobile"><%-data.section_g.text_m%></p>
		</a>
	</div>
</section>

<% <!-- Section H --> %>
<section class="section-h">
	<a href="<%-data.linking_d.image6%>">
		<img src="<%=baseUrl%>/img/DESKTOP/Jenson_HO16_d07.jpg" class="jenson-desktop">
	</a>
	<a href="<%-data.linking_m.image6%>">
		<img src="<%=baseUrl%>/img/MOBILE/Jenson_HO16_m07x2.jpg" class="jenson-mobile">
	</a>
</section>

<div class="clear"></div>