<div class="mk-title">
	<h1>Promo1 Content Slots W/ 2 Feature - W/ Copy Below</h1>
</div>
<div class="row">
	<div class="large-6 small-12 columns">
		<img src="<%=baseUrl%>/img/DESKTOP/Jenson_HO16_d05.jpg">
		<div class="mk-copy">
			<h3>LOREM IPSUM<br/>DOLOR SIT</h3>
			<p>
				CDEA AT sdf DSFGSDFG SDFGDSFG<br/>aSDFGADSGADSG SDFGDSFG<Br/>ASDflkasdgk lRT dsSDFGLK.
			</p>
			<div class="mk-cta">
				SHOP NOW<i class="caret"></i>
			</div>
		</div>
	</div>
	<div class="large-6 small-12 columns">
		<img src="<%=baseUrl%>/img/DESKTOP/Jenson_HO16_d05.jpg">
		<div class="mk-copy">
			<h3>LOREM IPSUM<br/>DOLOR SIT</h3>
			<p>
				CDEA AT sdf DSFGSDFG SDFGDSFG<br/>aSDFGADSGADSG SDFGDSFG<Br/>ASDflkasdgk lRT dsSDFGLK.
			</p>
			<div class="mk-cta mk-cta-wrapper">
				<div class="mk-cta-left">
					FIND OUT MORE<i class="caret"></i>
				</div>
				<div class="mk-cta-right">
					SHOP NOW<i class="caret"></i>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row-padding"></div>