<div class="mk-title">
	<h1>Spring Refresh Prototype</h1>
</div>

<div class="row">
	<div class="large-12 small-12 columns mk-background hide-for-small-only">
		<div class="v-center">
			<h2>NEW ARRIVALS IN NEW COLORS</h2>
			<p>TEASE COLOR FOR THE SEASON. FOCUS ON MERCER. LINK TO CROSS CATEGORY NEW ARRIVALS/SKEW HANDBAG HEAVY.</p>
			<div class="mk-cta">
			SHOP NOW
			</div>
		</div>
	</div>
</div>

<div class="row-padding"></div>

<div class="row">
	<div class="large-5 small-12 columns">
		<img src="<%=baseUrl%>/img/DESKTOP/Jenson_HO16_d05.jpg">
		<div class="mk-copy">
			<h3>LOREM IPSUM<br/>DOLOR SIT</h3>
			<p>
				CDEA AT sdf DSFGSDFG SDFGDSFG<br/>aSDFGADSGADSG SDFGDSFG<Br/>ASDflkasdgk lRT dsSDFGLK.
			</p>
			<div class="mk-cta">
				SHOP NOW<i class="caret"></i>
			</div>
		</div>
	</div>
	<div class="large-7 small-12 columns mk-second">
		<img src="<%=baseUrl%>/img/DESKTOP/Jenson_HO16_d03.jpg">
		<div class="mk-copy">
			<h3>LOREM IPSUM<br/>DOLOR SIT</h3>
			<p>
				CDEA AT sdf DSFGSDFG SDFGDSFG<br/>aSDFGADSGADSG SDFGDSFG<Br/>ASDflkasdgk lRT dsSDFGLK.
			</p>
			<div class="mk-cta">
				FIND OUT MORE<i class="caret"></i>
			</div>
			<div class="mk-cta">
				SHOP NOW<i class="caret"></i>
			</div>
		</div>
	</div>
</div>

<div class="row-padding"></div>

<div class="row">
	<div class="large-4 small-12 columns">
		<img src="<%=baseUrl%>/img/DESKTOP/Jenson_HO16_d05.jpg">
		<div class="mk-copy">
			<h3>LOREM IPSUM<br/>DOLOR SIT</h3>
			<p>
				CDEA AT sdf DSFGSDFG SDFGDSFG<br/>aSDFGADSGADSG SDFGDSFG<Br/>ASDflkasdgk lRT dsSDFGLK.
			</p>
			<div class="mk-cta">
				SHOP NOW<i class="caret"></i>
			</div>
		</div>
	</div>
	<div class="large-8 small-12 columns">
		<img src="<%=baseUrl%>/img/DESKTOP/Jenson_HO16_d04.jpg">
		<div class="mk-copy">
			<h3>LOREM IPSUM<br/>DOLOR SIT</h3>
			<p>
				CDEA AT sdf DSFGSDFG SDFGDSFG<br/>aSDFGADSGADSG SDFGDSFG<Br/>ASDflkasdgk lRT dsSDFGLK.
			</p>
			<div class="mk-cta mk-cta-wrapper">
				<div class="mk-cta-left">
					FIND OUT MORE<i class="caret"></i>
				</div>
				<div class="mk-cta-right">
					SHOP NOW<i class="caret"></i>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row-padding"></div>

<div class="row">
	<div class="large-4 small-12 columns mk-copy right">
		<h3>LOREM IPSUM<br/>DOLOR SIT</h3>
		<p>
			CDEA AT sdf DSFGSDFG SDFGDSFG<br/>aSDFGADSGADSG SDFGDSFG<Br/>ASDflkasdgk lRT dsSDFGLK.
		</p>
		<div class="mk-cta">
			FIND OUT MORE<i class="caret"></i>
		</div>
		<div class="mk-cta">
			SHOP NOW<i class="caret"></i>
		</div>
	</div>
	<div class="large-8 small-12 columns">
		<img src="<%=baseUrl%>/img/DESKTOP/Jenson_HO16_d02.jpg">
	</div>
</div>

<div class="row-padding"></div>
