<div class="mk-title">
	<h1>Promo1 Content Slots W/ 1 Feature</h1>
</div>
<div class="row">
	<div class="large-8 small-12 columns">
		<img src="<%=baseUrl%>/img/DESKTOP/Jenson_HO16_d02.jpg">
	</div>
	<div class="large-4 small-12 columns mk-copy">
		<h3>LOREM IPSUM<br/>DOLOR SIT</h3>
		<p>
			CDEA AT sdf DSFGSDFG SDFGDSFG<br/>aSDFGADSGADSG SDFGDSFG<Br/>ASDflkasdgk lRT dsSDFGLK.
		</p>
		<div class="mk-cta">
			FIND OUT MORE<i class="caret"></i>
		</div>
		<div class="mk-cta">
			SHOP NOW<i class="caret"></i>
		</div>
	</div>
</div>
<div class="row-padding"></div>
<div class="row">
	<div class="large-4 small-12 columns mk-copy right">
		<h3>LOREM IPSUM<br/>DOLOR SIT</h3>
		<p>
			CDEA AT sdf DSFGSDFG SDFGDSFG<br/>aSDFGADSGADSG SDFGDSFG<Br/>ASDflkasdgk lRT dsSDFGLK.
		</p>
		<div class="mk-cta">
			FIND OUT MORE<i class="caret"></i>
		</div>
		<div class="mk-cta">
			SHOP NOW<i class="caret"></i>
		</div>
	</div>
	<div class="large-8 small-12 columns">
		<img src="<%=baseUrl%>/img/DESKTOP/Jenson_HO16_d02.jpg">
	</div>
</div>