<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>PC Solution for MK Speical Project v0.1</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="apple-touch-icon" href="apple-touch-icon.png">
		<link rel="stylesheet" href="/assetsDev/css/pcs/bootstrap.css" />
		<link rel="stylesheet" href="/assetsDev/css/pcs/bootstrap-theme.css" />
		<link rel="stylesheet" href="/assetsDev/css/pcs/pcs.css" />
		<script src="/assetsDev/js/site.min.js"></script> <!-- jQuery for local -->
		<script src="/assetsDev/js/pcs/pcs.js"></script> <!-- pcs js -->
	</head>
<body>
<div class="container" role="main">
	<br/>
	<div class="jumbotron">
        <h2>MK Special Project PCS</h2>
        <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>
	</div>
	
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active" id="nav-generate"><a href="#">Generate</a></li>
        <li role="presentation" id="nav-deploy"><a href="#">Deploy</a></li>
        <li role="presentation" id="nav-debug"><a href="#">Debug</a></li>
        <li role="presentation" id="nav-options" style="float:right"><a href="#">Options</a></li>
	</ul>

	<section id="section-generate">
		<div class="page-header">
	        <h3>Generate Production Files</h3>
		</div>
		<div class="well">Generate Production Files. The files will be located in <strong>[refresh folder]/production/</strong></div>
		<br/>
		<h5 id="gen-buttons">
			<div style="float:left">
				<button type="button" id="gen-all" class="btn btn-md btn-primary">ALL</button>
				<button type="button" id="gen-css" class="btn btn-md btn-info">CSS</button>
				<button type="button" id="gen-html" class="btn btn-md btn-warning">HTML</button>
				<button type="button" id="gen-js" class="btn btn-md btn-success">JS</button>
			</div>
			<div style="float:right">
				<label>Show in finder:</label>
				<button type="button" id="show-css" class="btn btn-sm btn-link">[CSS]</button>
				<button type="button" id="show-html" class="btn btn-sm btn-link">[HTML]</button>
				<button type="button" id="show-js" class="btn btn-sm btn-link">[JS]</button>
			</div>
			<div style="clear: both"></div>
		</h3>
		<br/>
		<div class="progress" id="gen-css-prg" style="display:none;">
	        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0"><span class="sr-only">20% Complete</span></div>
		</div>
		<div class="progress" id="gen-html-prg" style="display:none;">
	        <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0"><span class="sr-only">60% Complete (warning)</span></div>
		</div>
		<div class="progress" id="gen-js-prg" style="display:none;">
	        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0"><span class="sr-only">40% Complete (success)</span></div>
		</div>
		<div class="progress" id="gen-all-prg" style="display:none;">
	        <div class="progress-bar progress-bar-info progress-bar-striped prg-all-css" role="progressbar" style="width: 0"><span class="sr-only">CSS (success)</span></div>
	        <div class="progress-bar progress-bar-warning progress-bar-striped prg-all-html" role="progressbar" style="width: 0"><span class="sr-only">HTML (success)</span></div>
	        <div class="progress-bar progress-bar-success progress-bar-striped prg-all-js" role="progressbar" style="width: 0"><span class="sr-only">JS (success)</span></div>
		</div>
	</section>
	
	<section id="section-deploy" style="display:none">
		<div class="page-header">
	        <h3>Deploy Production Files</h3>
		</div>
		<div class="page-header">
			<div class="row">
				<div class="col-sm-2">
					<select class="form-control" id="server-selector">
					  	<option value="stage11">Stage11</option>
					  	<option value="prev">Preview</option>
					  	<option value="prod">Production</option>
					  	<option value="int1">INT1</option>
					  	<option value="int2">INT2</option>
					  	<option value="int3">INT3</option>
					</select>
				</div>
				<div class="col-sm-5">
					<input type="text" class="form-control" id="dist-folder" placeholder="" value="/stage11/static/img/MKBusiness/en-US/refreshes/featured/">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4" style="padding-bottom: 5%">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">Deploy CSS to stage11</h3>
					</div>
					<div class="panel-body">
						Panel content
					</div>
				</div>
				<button type="button" id="dep-css" class="btn btn-lg btn-info" style="width: 100%;">Upload CSS</button>
			</div>
			<div class="col-sm-4" style="padding-bottom: 5%">
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">Deploy JS to stage11</h3>
					</div>
					<div class="panel-body">
						Panel content
					</div>
				</div>
				<button type="button" id="dep-js" class="btn btn-lg btn-warning" style="width: 100%;">Upload JS</button>
			</div>
			<div class="col-sm-4" style="padding-bottom: 5%">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">Copy HTML</h3>
					</div>
					<div class="panel-body">
						Panel content
					</div>
				</div>
				<button type="button" id="dep-html" class="btn btn-lg btn-success disabled" style="width: 100%;">BCC</button>
			</div>
		</div>
		<br/>
		<div class="progress" id="dep-css-prg" style="display:none;">
	        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0"><span class="sr-only">20% Complete</span></div>
		</div>
		<div class="progress" id="dep-html-prg" style="display:none;">
	        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0"><span class="sr-only">60% Complete (warning)</span></div>
		</div>
		<div class="progress" id="dep-js-prg" style="display:none;">
	        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0"><span class="sr-only">40% Complete (success)</span></div>
		</div>
	</section>
	
	<section id="section-debug" style="display:none">
		<div class="page-header">
	        <h3>Check Errors for Production Files</h3>
		</div>
		<h5>
			<button type="button" id="val-css" class="btn btn-md btn-info">Validate SCSS</button>
			<button type="button" id="val-html" class="btn btn-md btn-warning">Validate HTML</button>
			<button type="button" id="val-js" class="btn btn-md btn-success">Validate JS</button>
		</h5>
		<div class="well" id="val-result" style="display:none">/div>
	</section>

	<section id="section-options" style="display:none">
		<div class="page-header">
	        <h3>FTP Settings</h3>
		</div>
		<div>
			<h4>
				PuTTY Private Key Files:&nbsp;&nbsp;
		        <span class='label label-info' id="upload-file-info">[ppk file Location]</span>
		        <a class='btn btn-default btn-sm' href='javascript:clickFileloader();'>
		            Choose .ppk File
		            <input type="file" id="pcs-fileloader" style="display:none;" name="files" title="Load File" />
		        </a>
	        </h4>
		</div>
		<div class="row">
			<div class="col-xs-6 col-md-4">
				<h3><span class="label label-success">Stage11</span></h3><br/>
				<div class="form-group">
				    <label class="sr-only" >Host</label>
				    <input type="text" class="form-control" id="stg-host" placeholder="Host">
				</div>
				<div class="form-group">
				    <label class="sr-only" >Username</label>
				    <input type="text" class="form-control" id="stg-username" placeholder="Username">
				</div>
				  <div class="form-group">
				    <label class="sr-only" >Password</label>
				    <input type="password" class="form-control" id="stg-password" placeholder="Password">
				</div>
			</div>
			<div class="col-xs-6 col-md-4">
				<h3><span class="label label-danger">Production</span></h3><br/>
				<div class="form-group">
				    <label class="sr-only" >Host</label>
				    <input type="text" class="form-control" id="prod-host" placeholder="Host">
				</div>
				<div class="form-group">
				    <label class="sr-only" >Username</label>
				    <input type="text" class="form-control" id="prod-username" placeholder="Username">
				</div>
				  <div class="form-group">
				    <label class="sr-only" >Password</label>
				    <input type="password" class="form-control" id="prod-password" placeholder="Password">
				</div>
			</div>
			<div class="col-xs-6 col-md-4">
				<h3><span class="label label-warning">Options</span></h3><br/>
				<div class="checkbox">
				    <label><input type="checkbox"> Make directory if it does not already exist.</label>
				    <label><input type="checkbox"> Always make production files first before deploy it.</label>
				    <label><input type="checkbox"> Download backup CSS/JS when upload it.</label>
				</div>
			</div>
		</div>
		<br/>
		<div class="text-center">
			<button type="button" id="options-save" class="btn btn-md btn-primary disabled" style="width:20%; float:right;">Save</button>
		</div>
	</section>
</div>
</body>
</html>
