/* local */ 
header.dev {
	width: 100%;
	height: 30px;
	background: url("../img/_wood.jpg") repeat;
	position: fixed;
	z-index: 1002;
}
.dev_nav_outer {
	width: 100%;
	height: 117px;
	padding-top: 30px;
	position: relative;
	background-color: white;
	z-index: 1001;
}
.dev_nav {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}
.dev_nav_outer_m {
	width: 100%;
	position: relative;
	// padding-bottom: 320/6.40 + %;
}
.dev_nav_m {
	// position: absolute;
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
	img {
		width: 100%;
	}
}
.footer_container {
	text-align: center;
	overflow: hidden;
}
.dev-desktop {
	display: block;
}
.dev-mobile {
	display: none;
}
@media only screen and (max-width: 767px) {
	.dev-desktop {
		display: none;
	}
	.dev-mobile {
		display: block;
	}
}

@font-face {
    font-family: "DinDot";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/EngschriftDINDOT.otf"),
		 url("fonts/EngschriftDINDOT.woff"); /* Modern Browsers */
}