<%	
	var lang = lang || "en";
	var region = region || "us";
	var production = production || false;
	var baseUrl = (production ? data.baseUrl : 'assets');
	var data = data || false;
	var bodyId = lang +"_"+region.toUpperCase();
%>
<% if(!production) { %>
<!DOCTYPE HTML>
<html lang="<%=lang%>-<%=region%>" class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Jenson Trened Page 2016</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="apple-touch-icon" href="apple-touch-icon.png">
		<script src="assetsDev/js/site.min.js"></script>
	</head>
	<body id="<%= bodyId %>">

	<header class="dev top_nav header_container dev-desktop" id="fixed_header"></header>
	<div class="dev_nav_outer main_nav_container dev-desktop">
		<div class="dev_nav ">
			<img src="assetsDev/img/_header.png">
		</div>
	</div>
	<header></header>
	<div class="dev_nav_outer_m dev-mobile">
		<div class="dev_nav_m">
			<img src="assetsDev/img/_header_m.png">
		</div>
	</div>
	
	<link rel="stylesheet" href="assetsDev/css/style.min.css" />
<% } %>
<!-- Contents: UK Jenson Campaign 2016-->
<link rel="stylesheet" href="<%= baseUrl %>/css/style.min.css" />
	<main id="mk-sp-<%=region%>" class="jenson-trend">
		<div class="jenson-container">
			<%- include partials/section-home %>
		</div>
		<div id="main_container" class="disableAjaxOverly" style="display:none;"></div>
	</main>
<% if(!production) { %>
	<div class="footer_container dev-desktop">
		<img src="assetsDev/img/_footer.png">
	</div>
<% } %>

<script type="text/javascript">
(function(doc, script) {
    var js, 
      fjs = doc.getElementsByTagName(script)[0],
      add = function(url, id) {
          if (doc.getElementById(id)) {return;}
          js = doc.createElement(script);
          js.src = url;
          id && (js.id = id);
          fjs.parentNode.insertBefore(js, fjs);
      };
  add('<%= baseUrl %>/js/site.min.js', 'mkors-js');
}(document, 'script'));
</script>

<% if(false) { %>
<script type="text/javascript">
	var meta = document.createElement('meta');
	meta.name = "viewport";
	meta.content = "width=1024";
	document.getElementsByTagName('head')[0].appendChild(meta);
</script>
<% } %>
<%	if(!production) { %>
	</body>
</html>
<% } %>