<%	
	var lang = lang || "en";
	var region = region || "us";
	var production = production || false;
	var baseUrl = (production ? data.baseUrl : 'assets');
	var data = data || false;
	var bodyId = lang +"_"+region.toUpperCase();
	var promo = promo || false;
%>
<% if(!production) { %>
<!DOCTYPE HTML>
<html lang="<%=lang%>-<%=region%>">
<head>
	<title data-react-helmet="true">Michael Kors</title>
	<meta data-react-helmet="true" charset="utf-8">
	<meta data-react-helmet="true" http-equiv="X-UA-Compatible" content="IE=edge">
	<meta data-react-helmet="true" name="description" content="An isomorphic React alt boilerplate with Express and MongoDB deployable to Heroku">
	<meta data-react-helmet="true" name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">	
	<meta data-react-helmet="true" name="mobile-web-app-capable" content="yes">
	<meta data-react-helmet="true" name="apple-mobile-web-app-capable" content="yes">
	<meta data-react-helmet="true" name="apple-mobile-web-app-status-bar-style" content="black">
	<meta data-react-helmet="true" name="apple-mobile-web-app-title" content="React Webpack Node">
	<meta data-react-helmet="true" name="msapplication-TileColor" content="#3372DF">
	<link data-react-helmet="true" rel="shortcut icon" type="image/x-icon" href="http://www.michaelkors.com/img/favicon.ico?">
	<!-- Sapient Styles including Fonts/Foundation -->
	<link rel="stylesheet" href="assetsDev/css/style.min.css" />
	<!-- Sapient Plugins - slick -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css">
	<!-- Scene7 viewer Js -->
	<script type="text/javascript" src="http://s7d1.scene7.com/s7viewers/html5/js/BasicZoomViewer.js"></script>
	<meta class="foundation-mq">
</head>
<body>

<div id="app">
<div class="app" data-reactroot="" data-reactid="1" data-react-checksum="-2130023152">
<div class="mk-homepage" data-reactid="2">

<header class="header-wrapper container " data-reactid="3">
	<%- include sapient/header %>
</header>
	
<% } %>

<!-- Responsive Content Slot Begins -->
<link rel="stylesheet" href="<%= baseUrl %>/css/style.min.css" />


<% if(promo === false || promo == 0) { %>
<main class="homepage-body-wrapper container jenson-main">
	<div class="jenson-container">
		<%- include partials/section-home %>
	</div>
</main>

<% } else if(promo == 1) { %>
<main class="homepage-body-wrapper container mk-promo">	
	<%- include promo/promo_1 %>
</main>
<% } else if(promo == 2) { %>
<main class="homepage-body-wrapper container mk-promo">	
	<%- include promo/promo_2 %>
</main>
<% } else if(promo == 3) { %>
<main class="homepage-body-wrapper container mk-promo">	
	<%- include promo/promo_3 %>
</main>
<% } else if(promo == 4) { %>
<main class="homepage-body-wrapper container mk-promo">		
	<%- include promo/promo_4 %>
</main>		
<% } %>
</main>

<% if(!production) { %>
<footer class="footer-wrapper conatiner">
	<%- include sapient/footer %>
</footer>

</div>
</div>
</div> <!-- id:app -->	

<script>window.initialFilters = undefined;</script>
<script>window.API_AGGRIGATOR_URL = 'http://10.143.188.126:3000';</script>
<script>window.API_AGGRIGATOR_URL_PUBLIC = 'http://sit1.michaelkors.com';</script>

<!-- Sapient innerHTML JS -->
	<!-- include sapient/react-script-->
<!-- Sapient JS -->
	<script src="assetsDev/js/site.min.js"></script>

<% } %>
	<script src="<%= baseUrl %>/js/site.min.js"></script>
<% if(!production) { %>

	<div></div>
</body>
</html>
<% } %>